.btn {
  background-color: transparent;
  color: #74fac0;
  font-weight: bolder;
  width: 200px;
  height: 50px;
  border-radius: 12px;
  margin-top: 15px;
  border: solid 1px #74fac0;
  cursor: pointer;

  @media (min-width: 375px) and (max-width: 600px) {
    width: 150px;
    height: 37.5px;
    border-radius: 9px;
  }
}
.btn:hover {
  color: #01091c;
  background-color: #74fac0;
  transition-duration: 0.8s;
}
